 
  .cart {
    margin: 0;
    align-items: center;
    background-color: white;
    font-size: 20px;
  }

  .cart-list-container {
    width: 70%;
    padding: 40px;
    border: 2px solid lightgray;
    border-radius: 20px 20px 0px 0px;
    margin: 0 auto;
    background-color: white;
  }

  .cart-list-container > h2{
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
  }

  .cart-list-container p {
    width: 100%;
  }

  .cart-list-container span {
      display: inline-block;
      width: 30%;
      margin-bottom: 20px;
      font-weight: 600;
  }

  .cart-row{
    display: block;
    width: 100%;
    height: 14rem;
    text-align: center;
  }
  .cart-list-container img {
    max-width: 10rem;
    max-height: 10rem;
  }

  .cart-row-product, .cart-row-price, .cart-row-quatity{
    display: inline-block;
    width: 30%;
  }

  .cart-row-remove  {
    display: inline-block;
    width: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;

  }

  .cart-row-remove img {
    width: 40px;
    height: 40px;
    
  }

  .checkout {

  }

  .checkout button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    /* background: #3180e9; */
    /* border: 1px solid white;
    border-radius: 10px;
    height: 40px;
    width: 200px; */
    width: auto;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  .checkout a {
    color: white;
    text-decoration: none;
  }

  @media (max-width: 1000px) {
    .cart-list-container {
      width: 80%;
    }

    .checkout {
      width: 80%;
    }
  }

  @media (max-width: 800px) {
    .cart-list-container {
      width: 90%;
    }

    .checkout {
      width: 90%;
    }
  }



  .table * {
    vertical-align: middle;
  }
  
  .table-container {
    margin: auto;
    padding: 10px;
    width: 90%;
    border: lightgray solid 1.5px;
    border-radius: 5px;
    margin: auto;
  }

  
  

  .table-container td {
    padding: 8px !important;
  }
  .table-container tbody {
    display: block;
    width: 100%;
    min-height: 30vh;
    max-height: 50vh;
    overflow-y: scroll;

  }
  
  .table-container td
  {
    padding: 0 50px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-container thead {
  width: calc(100% - 1em) !important;
}
  th{
    text-align: center!important;
    margin:auto;

  }

  .table-container thead{
    margin-bottom: 20px;
    margin-right:10px;
  }
  .table-container thead,
  .table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  td{
    text-align: center;
  }
/* tr+tr{
  margin-top:5px;
} */

  td>img{
    max-width: 100px;
  }

  .RowOdd{
    background-color: rgb(231, 231, 231);
  }

  .RowEven{
    background-color: rgb(243, 243, 243);
  }

  h5{
    margin: 20px 0 20px 100px;
  }