

  .container {
    width: 100%;
    margin: 0;
    background-color: white;
  }

  .form {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-size: 20px;
  }

  .form h3 {
    text-align: center;
  }

  .form p {
    margin-bottom: 30px;
  }

  .star {
    color: red;
  }

  .left, .right {
    display: inline-block;
    width: 47.5%;
  }
  
  .left {
    padding-right: 10px;
  }

  .right {
    padding-left: 10px;
  }

  .radio-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .radio-item label{
    flex-basis: 50%;
    text-align: left;
  }
  
  .radio-item input{
    text-align: right;
  }

  .radio-item img{
    width: 15px;
    height: 15px;
  }

  .end-form {
    display: flex;
    justify-content: space-between;
  }

  .end-form:nth-child(1) {
    flex-basis: 60%;
    text-align: left;
  }

  .end-form:nth-child(2) {
    text-align: right;
  }

  .complete-button {
    display: flex;
    flex-direction: row-reverse;
  }

  .complete-button p {
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    padding: 12px;
    margin: 10px 0;
    margin-right: 10px;
    background-color: #c1c1c1;
  }

  .separation {
    width: 100%;
    border: 1px solid black;
    padding: 0;
    height: 0;
  }

  input:checked {
    color: #3080e5;
  }

  input[type=text] {
    width: 95%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 17px;
  }
  
  input[type=radio]:checked + label{
    font-weight: 900;
  }

  label {
    margin-bottom: 10px;
  }
  
  /* .btn {
    background-color: #3080e5;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 40%;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #3070e0;
  } */
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .form {
      width: 90%;
    }
  }
   
  @media (max-width: 1000px) {
    .form {
      width: 80%;
    }
  }
